@using Fhir.QueryBuilder.AdvancedSearch
@inject MainViewModel Vm
@inject QueryBuilderUiLanguageService Lang

<div class="small">
    <div class="fw-semibold mb-2">@Lang.Strings.ChainParameters</div>
    <div class="row g-2 mb-2">
        <div class="col-md-5">
            <input class="form-control form-control-sm" placeholder="@Lang.Strings.PathPlaceholderChain"
                   @bind="Vm.Advanced.PendingChainPath" @bind:event="oninput" />
        </div>
        <div class="col-md-5">
            <input class="form-control form-control-sm" placeholder="@Lang.Strings.Value"
                   @bind="Vm.Advanced.PendingChainValue" @bind:event="oninput" />
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-secondary btn-sm w-100" @onclick="@(() => Vm.TryAddAdvancedChainCommand.Execute(null))">@Lang.Strings.Add</button>
        </div>
    </div>
    <select class="form-select form-select-sm mb-4" size="4">
        @foreach (var c in Vm.Advanced.Chains)
        {
            <option>@c.Path = @c.Value</option>
        }
    </select>

    <hr />

    <div class="fw-semibold mb-2">@Lang.Strings.CompositeParameters</div>
    <div class="row g-2 mb-2">
        <div class="col-md-5">
            <input class="form-control form-control-sm" placeholder="@Lang.Strings.ParameterNamePlaceholder"
                   @bind="Vm.Advanced.PendingCompositeName" @bind:event="oninput" />
        </div>
        <div class="col-md-5">
            <input class="form-control form-control-sm" placeholder="@Lang.Strings.ComponentsCommaPlaceholder"
                   @bind="Vm.Advanced.PendingCompositeComponents" @bind:event="oninput" />
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-secondary btn-sm w-100" @onclick="@(() => Vm.TryAddAdvancedCompositeCommand.Execute(null))">@Lang.Strings.Add</button>
        </div>
    </div>
    <select class="form-select form-select-sm mb-4" size="4">
        @foreach (CompositeParameter c in Vm.Advanced.Composites)
        {
            <option>@c.ParameterName ⇒ @c.ComponentsSummary</option>
        }
    </select>

    <hr />

    <div class="fw-semibold mb-2">@Lang.Strings.FilterExpressions</div>
    <div class="input-group input-group-sm mb-2">
        <input class="form-control" placeholder="@Lang.Strings.FhirFilterPlaceholder"
               @bind="Vm.Advanced.PendingFilterExpression" @bind:event="oninput" />
        <button type="button" class="btn btn-outline-secondary" @onclick="@(() => Vm.TryAddAdvancedFilterCommand.Execute(null))">@Lang.Strings.Add</button>
    </div>
    <select class="form-select form-select-sm mb-4" size="4">
        @foreach (var f in Vm.Advanced.Filters)
        {
            <option>@f</option>
        }
    </select>

    <hr />

    <div class="fw-semibold mb-3">@Lang.Strings.ResultControl</div>
    <div class="row g-2 mb-2">
        <label class="col-sm-3 col-form-label py-0">_count</label>
        <div class="col-sm-9">
            <input class="form-control form-control-sm" @bind="Vm.Advanced.ResultCountText" @bind:event="oninput" />
        </div>
        <label class="col-sm-3 col-form-label py-0">_offset</label>
        <div class="col-sm-9">
            <input class="form-control form-control-sm" @bind="Vm.Advanced.ResultOffsetText" @bind:event="oninput" />
        </div>
        <label class="col-sm-3 col-form-label py-0">_total</label>
        <div class="col-sm-9">
            <select class="form-select form-select-sm" @bind="Vm.Advanced.ResultTotalMode">
                @foreach (var m in Vm.TotalModes)
                {
                    <option value="@m">@m</option>
                }
            </select>
        </div>
        <label class="col-sm-3 col-form-label py-0">_summary</label>
        <div class="col-sm-9">
            <select class="form-select form-select-sm" @bind="Vm.Advanced.ResultSummaryMode">
                @foreach (var m in Vm.SummaryModes)
                {
                    <option value="@m">@m</option>
                }
            </select>
        </div>
        <label class="col-sm-3 col-form-label pt-0">_elements</label>
        <div class="col-sm-9">
            <textarea class="form-control form-control-sm" rows="3" placeholder="@Lang.Strings.ResultElementsCsvPlaceholder"
                      @bind="Vm.Advanced.ResultElementsCsv"></textarea>
        </div>
    </div>

    <button type="button" class="btn btn-outline-secondary btn-sm" @onclick="@(() => Vm.ClearAdvancedSearchCommand.Execute(null))">@Lang.Strings.ClearAdvanced</button>
</div>
